<% if @info == true %>
the password is correct
<% else %>
  Неправильная пара логин-пароль!!!
  <form method = "POST" action = "/index" />
    логин: <input type = "text" name = "login" />
    пароль: <input type = "password" name = "password" />
    <input type = "submit" />
  </form>
<% end %>