<!DOCTYPE html>
<html>
<head>
  <title>PasswordSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <form method = "POST" action = "/index" />
    логин: <input type = "text" name = "login" />
    пароль: <input type = "password" name = "password" />
    <input type = "submit" />
  </form>
<%= yield %>

</body>
</html>
